<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitCeshiDemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38BC2C421EADA572009E718F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BC2C5B1EADA572009E718F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BC2C661EADA572009E718F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
